.content {
    &__top {
        margin: 0 auto;
        padding: 10px 70px 0;
        max-width: 1100px;
    }
    &__logo {
        float: left;
    }
    &__search {
        float: right;
        width: 250px;
        & .search__control {
            color: #000;
        }
    }
    &__menu {
        overflow: hidden;
    }
    &__slider-box {
        margin-top: -3px;
        height: 545px;    // временный стиль
        border-top: 1px solid $border-grey;
    }
}
