// Common styles of the project

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    font-family: $fontPTSans;
    font-size: 40%;
    line-height: 1.6;
    @include above(500px) {
        font-size: 60%;
    }
    @include above(640px) {
        font-size: 80%;
    }
    @include above(1020px) {
        font-size: 90%;
    }
}
input {
    &:active,
    &:focus {
        outline: none;
    }
}
button {
    box-shadow: none;
    border: none;
}
