// File for scss-vars.
// For example: main colors, paddings and so on.

// User variables
$fontPTSans: 'PT Sans', Arial, sans-serif;
$fontHelLight: 'HeliousLightC', Arial, sans-serif;
$fontHelThin: 'HeliousThinC', Arial, sans-serif;
$font-red: #e42644;
$font-blue: #0c4da2;
$font-grey: #b2b2b2;
$cross-grey: #999;
$border-red: #e7435d;
$border-grey: #c8c8c8;
$bg-grey: #f0f0f0;
