.button {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    background-color: $bg-grey;
    border-radius: 5px;
    &:hover {
        background-color: $cross-grey;
    }
    &:disabled {
        color: $font-grey;
        &:hover {
            background-color: $bg-grey;
        }
    }
}
