.input {
    &__label {
        cursor: pointer;
        &:hover {
            color: $font-blue;
            ::placeholder {
                color: #000;
            }
        }
    }
    &__control {
        margin-top: 5px;
        padding-left: 5px;
        display: inline-block;
        width: 100%;
        &_not-valid {
            border: 2px solid $border-red;
        }
        &_valid {
            border: 2px solid $border-green;
        }
    }
}
