include ../location/location
include ../user-block/user-block

mixin header(data)
    +b.header()&attributes(attributes)
        +e.wrapper
            +location(location.sites)
            +user-block()
