.user-block {
    position: relative;
    float: right;
    &__board {
        margin-right: 40px;
        padding-left: 30px;
    }
    &__icon-board {
        position: absolute;
        top: -2px;
        left: 0;
    }
}
