extends ../layouts/default
include ../components/box/box
include ../components/modal-login/modal-login
include ../components/modal-overlay/modal-overlay

block vars
    -pageSettings.title = 'Главная';

block head
    link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")

block content
    +box()

block modal
    +modal-login()
    +modal-overlay()
